$theme: #3a72f0;
$themeBg: linear-gradient(
  90deg,
  rgba(72, 78, 237, 1) 0%,
  rgba(58, 114, 240, 1) 100%
);
html {
  .el-pagination {
    &.is-background {
      .btn-next,
      .btn-prev,
      .el-pager li {
        background-color: rgba(0, 0, 0, 0);
        border: 1px solid rgba(175, 172, 172, 1);
        font-weight: 500;
        font-size: 14px;
        padding-left: 5px;
        padding-right: 5px;
        &:hover {
          color: $theme;
        }
        &.disabled,
        &:disabled {
          color: #c0c4cc;
        }
      }
    }

    &.is-background {
      .el-pager li:not(.disabled) {
        color: #afacac;
        &:hover {
          color: $theme;
        }
        &.active {
          color: white;
          background: $themeBg;
          border: 0;
        }
      }
    }
  }
}
