@font-face {
  font-family: "Montserrat-Medium";
  src: url("./font/Montserrat-Medium.woff2");
}

.white {
  color: white;
}

.bold {
  font-weight: bold;
}

.flex {
  display: flex;

  &.between {
    justify-content: space-between;
  }

  &.around {
    justify-content: space-around;
  }

  &.jc-center {
    justify-content: center;
  }

  &.jc-end {
    justify-content: flex-end;
  }

  &.ai-center {
    align-items: center;
  }

  &.column {
    flex-direction: column;
  }

  &.wrap-wrap {
    flex-wrap: wrap;
  }
}

.theme-color-text-fill {
  color: rgba(47, 147, 255, 1);
  background: linear-gradient(
    90deg,
    rgba(69, 83, 237, 1) 0%,
    rgba(56, 114, 248, 1) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    background: rgba(0, 0, 0, 0);
  }
}

.edit {
  .whitebg {
    .el-form-item__label {
      color: white;
    }
  }
}
