html {
  font-size: 16px;
  margin: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
}

body {
  height: 100%;
  width: 100%;
}

body,
div,
a,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
fieldset,
form,
input,
p,
blockquote,
table,
th,
td,
embed,
object {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  word-break: break-word;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

fieldset,
img,
abbr {
  border: 0;
}

address,
caption,
cite,
code,
dfn,
em,
h1,
h2,
h3,
h4,
h5,
h6,
th,
var {
  font-weight: normal;
  font-style: normal;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.clear {
  clear: both;
}

.clearfix:before,
.clearfix:after {
  content: "";
  display: block;
}

[v-cloak] {
  display: none;
}

.clearfix:after {
  height: 0;
  overflow: hidden;
  clear: both;
}

.hidden {
  opacity: 0 !important;
}

.displaynone {
  display: none;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-track-piece {
  background-color: rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 6px;
}

::-webkit-scrollbar-thumb:vertical {
  height: 5px;
  background-color: rgba(125, 125, 125, 0.7);
  -webkit-border-radius: 6px;
}

::-webkit-scrollbar-thumb:horizontal {
  width: 5px;
  background-color: rgba(125, 125, 125, 0.7);
  -webkit-border-radius: 6px;
}

body {
  .w-e-text {
    padding: 0 10px;
    font-family: medium-content-serif-font, Georgia, Cambria, "Times New Roman",
      Times, serif;
    font-size: 20px;
    min-height: 100%;
    box-sizing: border-box;
    overflow: hidden;

    p,
    h1,
    h2,
    h3,
    h4,
    h5,
    table,
    pre,
    ol,
    ul {
      margin: 50px 0 0px;
      line-height: 1.5;
    }

    ul,
    ol {
      margin-left: 20px;

      li {
        margin-bottom: 50px;
      }
    }

    blockquote {
      display: block;
      border-left: 8px solid #d0e5f2;
      padding: 5px 10px;
      margin: 10px 0;
      line-height: 1.4;
      font-size: 100%;
      background-color: #f1f1f1;
    }

    code {
      display: inline-block;
      background-color: #f1f1f1;
      border-radius: 3px;
      padding: 3px 5px;
      margin: 0 3px;
    }

    pre {
      code {
        display: block;
      }
    }

    table {
      border-top: 1px solid #ccc;
      border-left: 1px solid #ccc;

      td,
      th {
        border-bottom: 1px solid #ccc;
        border-right: 1px solid #ccc;
        padding: 3px 5px;
      }

      th {
        border-bottom: 2px solid #ccc;
        text-align: center;
      }
    }

    &:focus {
      outline: none;
    }

    img {
      cursor: pointer;

      &:hover {
        box-shadow: 0 0 5px #333;
      }
    }
  }
}
